{% extends 'main/main.html' %}
{% load static %}

  {% block styles %}

  <link rel="stylesheet" href="{% static 'css/index.css' %}">

  {% endblock %}

{% block main %}

<main>


  <section class="Content">

    <div class="normalize_container">

      <div class="seporation_line"></div>

      <nav class="filters_of_products">
        <a href="#" class="link_filter">популярные</a>
        <a href="#" class="link_filter">новые товары</a>
        <a href="#" class="link_filter">продажи</a>
      </nav>

      <ul class="product_list">

        {% for product in products %}

        <li class="product_container">

          <p class="product_price">{{ product.price }}</p>

           <a class="product_link" href="{% url 'product-instance' product.pk %}"></a>

          {% if product.type_of_product == 'PC' %}

            <img src="{{ product.pccharacters_set.get.img.url }}" alt="phone" class="product_img">


          {% elif product.type_of_product == 'MobilePhone' %}

          <img src="{{ product.mobilephonecharacters_set.get.img.url  }}" alt="phone" class="product_img">

          {% elif product.type_of_product == 'TV' %}

          <img src="{{ product.tvcharacters_set.get.img.url }}" alt="phone" class="product_img">

           {% endif %}

          <div class="product_description_menu">

            <h3 class="product_name">
              {{ product.name }}
            </h3>

            <p class="product_descript_text">
              {{ product.description }}
            </p>

            <form action="{% url 'add-in-cart' %}" class="add_to_cart_btn" method="POST">

              {% csrf_token %}
              <input name="product" class="obj_of_product" value="{{ product }}" readonly type="text">

              <button type="submit" title="put in cart" class="product_option_btn">
                <i class="fas fa-cart-arrow-down"></i>
            </button>
            </form>

          </div>

        </li>

        {% endfor %}

      </ul>

    </div>

  </section>


</main>

{% endblock %}
