{% load static %}
<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  {% block styles %}

  {% endblock %}

  <meta name="theme-color" content="#fafafa">
  <script src="./js/main.js">

  </script>
</head>

<body>

<header>

  <div class="top__line">

    <div class="container">
      <a href="#">Currency:GBP</a>

      <ul class="top_menu">
        <li class="item_top_menu"><a href="{% url 'sign-up' %}">Register</a></li>
        <li class="item_top_menu"><a href="{% url 'sign-in' %}">Sign in</a></li>
        <li class="item_top_menu cart">
          <a href="{% url 'cart' %}">
            <i class="fas fa-shopping-cart"></i>

            {% if user.cart_set.all.count != 0 %}

            <span>{{ user.cart_set.all.count }}</span>

            {% else %}

            <span>empty</span>

            {% endif %}

            <i class="fas fa-angle-down"></i>
          </a>
        </li>
      </ul>

    </div>

  </div>

  <div class="main_menu_bg">

    <div class="main_menu">

      <h2 class="home_title"><a href="{% url 'home' %}">ATOM <span>STORE</span></a></h2>

      <menu class="main_menu_of_site">
        <li class="menu_item"> <a href="{% url 'pc-page' %}">PC</a> </li>
        <li class="menu_item"> <a href="{% url 'mobile-phone-page' %}">mobile phones</a> </li>
        <li class="menu_item"> <a href="{% url 'tv-page' %}">TV</a> </li>
        <li class="menu_item"> <a href="{% url 'location-page' %}">location</a> </li>
        <li class="menu_item search_item_of_menu">
          <form>
            {% csrf_token %}
            <label class="search_container" for="search">

              <input type="text" id="search" placeholder="Search...">
              <button class="search_btn">
                <i class="fas fa-search"></i>
              </button>

            </label>
          </form>
        </li>
      </menu>

    </div>

  </div>

  <div class="main_bg">

     {% block title_section %}

    <h1 class="main_title">
      Atom
    </h1>

     {% endblock %}

  </div>

</header>




{% block main %}
<main>
</main>
{% endblock %}




<footer>

  <form class="feedback_form">
    {% csrf_token %}

    <h3 class="feedback_title">
      Feedback
    </h3>

    <label for="email_feedback_form">
      <input type="text" id="email_feedback_form" placeholder="Email...">
    </label>

    <label for="text_feedback_form">
      <input type="text" id="text_feedback_form" placeholder="Text...">
    </label>

    <button type="submit" class="btn_of_feedback_form">
      send
    </button>


  </form>

  <div class="bttom_line">

    <p class="date">2019 - 2200</p>

  </div>

</footer>

</body>
 {% block scripts %}

 {% endblock %}
</html>
