{% extends 'main/main.html'  %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'css/cart.css' %}">

{% endblock %}

{% block main %}

<main>

<section class="Cart">

  <div class="cart_box">
    <ul class="cart_product_list">

      {% for product in user.cart_set.all %}

      <li class="cart_product_list_item">

        <div class="cart_product_img">

          {% if product.product.type_of_product == 'PC' %}

          <img src="{{ product.product.pccharacters_set.get.img.url }}" alt="phone">

          {% elif product.product.type_of_product == 'TV' %}

          <img src="{{ product.product.tvcharacters_set.get.img.url }}" alt="phone">

          {% elif product.product.type_of_product == 'MobilePhone' %}

          <img src="{{ product.product.mobilephonecharacters_set.get.img.url }}" alt="phone">

          {% endif %}

        </div>

        <div class="cart_product_info">

          <div class="cart_product_title_and_price_box">

            <a href="{% url 'product-instance' product.pk %}">

            <h2 class="cart_product_title">{{ product.product }}</h2>

            </a>
            <p class="cart_product_price">{{ product.product.price }} <span>Rub</span></p>

          </div>

          <div class="cart_broduct_description_box">

            <p class="cart_product_description">
              {{ product.product.description }}
            </p>
            <p class="cart_count_of_product">Count: <span> 1 </span></p>

          </div>

        </div>

        <button title="delet this product" class="cart_product_remove_btn">
          <i class="fas fa-times"></i>
        </button>

      </li>

      {% endfor %}

    </ul>

    <form class="send_order_box">
      <p class="sum_of_price">
        40000R
      </p>
      <button type="submit" class="send_order_btn">Send order</button>
    </form>

  </div>

</section>

</main>

{% endblock %}