{% extends 'main/main.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'css/product_instance.css' %}">

{% endblock %}

{% block main %}

<main>

    <section class="Product">

        <div class="product_body">

            <div class="product_slider">

                {% if product.type_of_product == 'PC' %}

                <img src="{{ product.pccharacters_set.get.img.url }}" alt="phone" class="product_img">


                {% elif product.type_of_product == 'MobilePhone' %}

                <img src="{{ product.mobilephonecharacters_set.get.img.url }}" alt="phone" class="product_img">

                {% elif product.type_of_product == 'TV' %}

                <img src="{{ product.tvcharacters_set.get.img.url }}" alt="phone" class="product_img">

                {% endif %}
                <!-- <button id="left_arrow" class="product_slider_btn"><i class="fas fa-arrow-alt-circle-left"></i></button>
                <button id="right_arrow" class="product_slider_btn"><i class="fas fa-arrow-alt-circle-right"></i></button> -->

            </div>

            <div class="product_information">
                <h2 class="product_title">{{ product }}</h2>
                <p class="price_of_product">{{ product.price }}</p>
                <p class="product_code">Id продукта: <span> {{ product.id }}</span></p>
                <p class="product_pescription">
                    {{ product.description }}
                </p>
                <form method="POST" class="add_to_cart_form">
                    <p>Количество</p>
                    <label class="label_of_counter" for="count_of_things">

                      {% csrf_token %}
                        <input readonly value="1" id="count_of_things" type="number" min="1">

                        <button type="button" id="count_btn_up"><i class="fas fa-chevron-up"></i></button>
                        <button type="button" id="count_btn_down"><i class="fas fa-chevron-down"></i></button>

                    </label>
                    <button type="submit" class="add_to_cart_btn"><i class="fas fa-shopping-cart"></i> В корзину</button>
                </form>
            </div>

        </div>

    </section>

    <section class="Product_detail_information">

        <div class="characters">

            {% if product.type_of_product == 'PC' %}

            <p class="character_title">Характеристики</p>
            <h2 class="product_title_of_description">{{ product }}</h2>
            <ul class="product_characters">

                <li class="product_character_item">Процессор: <span>{{ product.pccharacters_set.get.CP }}</span></li>
                <li class="product_character_item">ОЗУ: <span>{{ product.pccharacters_set.get.OZU }}</span></li>
                <li class="product_character_item">ПЗУ: <span>{{ product.pccharacters_set.get.memory }}</span></li>
                <li class="product_character_item">Видеокарта: <span>{{ product.pccharacters_set.get.video_card }}</span></li>
                <li class="product_character_item">Блок питания: <span>{{ product.pccharacters_set.get.power_block }}</span></li>
                <li class="product_character_item">Материнская плата: <span>{{ product.pccharacters_set.get.mother_bord }}</span></li>


            </ul>


            {% elif product.type_of_product == 'MobilePhone' %}

            <p class="character_title">Характеристики</p>
            <h2 class="product_title_of_description">{{ product }}</h2>
            <ul class="product_characters">

                <li class="product_character_item">Процессор: <span>{{ product.mobilephonecharacters_set.get.CP }}</span></li>
                <li class="product_character_item">ОЗУ: <span>{{ product.mobilephonecharacters_set.get.OZU }}</span></li>
                <li class="product_character_item">ПЗУ: <span>{{ product.mobilephonecharacters_set.get.memory }}</span></li>
                <li class="product_character_item">Батарея: <span>{{ product.mobilephonecharacters_set.get.battery }}</span></li>
                <li class="product_character_item">Экран: <span>{{ product.mobilephonecharacters_set.get.display }}</span></li>

            </ul>

            {% elif product.type_of_product == 'TV' %}

            <p class="character_title">Характеристики</p>
            <h2 class="product_title_of_description">{{ product }}</h2>
            <ul class="product_characters">

              <li class="product_character_item">Экран: <span>{{ product.tvcharacters_set.get.display }}</span></li>

            </ul>

            {% endif %}


        </div>

    </section>

</main>

{% endblock %}
